
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unat-orized</title>
</head>
<body>
    <div> 
        <h2>Unat-orized action hívás</h2>
    </div>
</body>
</html>
