@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    AQ Anton Ltd.<br />
    Zalaegerszeg, H-8900<br />
    16 Sport street<br />
    <abbr title="Mobile">Phone:</abbr>
    +36-20-459.6784
</address>

<address>
    <strong>Support/ Támogatás:</strong>   <a href="mailto:it.aqanton@aqg.se">IT fejlesztő csoport</a><br />
    <strong>Developer/ Fejlesztő:</strong> <a href="mailto:istvan.vizsy@aqg.se">Vizsy István</a>
</address>